body{
  background-color: #F3F3F3;
}
.navbar{
  margin-bottom: 25px;
}
.navbar-brand{
  font-family: Viga;
  font-size: 31px;
}
.nav-item{
  font-size: 20px;
}
.cardss{
  opacity: 0;
  transform: translate(0, -40px);
  transition: .5s;
}

.cardss.muncul{
  opacity: 1;
  transform: translate(0,0);
}

.text-color-a{
  color: black;
}
.text-color-a:hover{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.footer p{
  color: #acacac;
  font-size: 18px;
}
